.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  color: white;
  font-family: roboto;
}
.headings-container {
  max-width: 40vw;
  padding: 30px;
}
.find-btn
{
  background-color: #4f46e5;
  color:white;
  border-style: none;
  height:5vh;
  width:8vw;
  border-radius: 8px;
}